aiohttp==3.9.1
aioresponses==0.7.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
async-lru==2.0.4
attrs==23.1.0
beautifulsoup4==4.12.2
black==23.12.0
cached-property==1.5.2
certifi==2023.11.17
charset-normalizer==3.3.2
chevron==0.14.0
click==8.1.7
colorama==0.4.6
distro==1.8.0
flake8==6.1.0
frozendict==2.3.10
frozenlist==1.4.1
genanki==0.13.1
gtts==2.5.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
iniconfig==2.0.0
isort==5.13.2
joblib==1.3.2
mccabe==0.7.0
multidict==6.0.4
mypy==1.7.1
mypy-extensions==1.0.0
nltk==3.8.1
openai==1.5.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
pluggy==1.3.0
pycodestyle==2.11.1
pydantic==2.5.2
pydantic_core==2.14.5
pyflakes==3.1.0
pytest==7.4.3
pytest-asyncio==0.23.2
python-dotenv==1.0.0
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
setuptools-scm==8.0.4
sniffio==1.3.0
soupsieve==2.5
tqdm==4.66.1
types-beautifulsoup4==4.12.0.7
types-html5lib==1.1.11.15
typing_extensions==4.9.0
urllib3==2.1.0
yarl==1.9.4
